{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}资产管理 - 首页{% endblock %}
{% block custome_css %}
    <link rel="stylesheet" href="{% static 'servers/css/index.css' %}">
{% endblock %}
{% block content %}
    <div class="content">
        <div class="table-left">
            <p>资产统计</p>
            <br/><br/>
            <table class="table-list">
                <thead>
                    <tr>
                        <th class="table-line">序号</th>
                        <th>资产类型</th>
                        <th class="table-line">数量</th>
                    </tr>
                </thead>
                <tbody>
                    {% for zctype_group in zctype_groups %}
                        <tr>
                            <td class="table-line">{{ forloop.counter }}</td>
                            <td>{{ zctype_group.zctype__zctype }}</td>
                            <td class="table-line">{{ zctype_group.zctype_num }}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td class="table-line" colspan="2">合计</td>
                        <td class="table-line">{{ total }}</td>
                    </tr>
                </tbody>
            </table>
            <br/><br/>
        </div>
    </div>
{% endblock %}