{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}资产管理 - 资产类型详情{% endblock %}
{% block custome_css %}
    <link rel="stylesheet" href="{% static 'servers/css/server-add.css' %}">
    <link rel="stylesheet" href="{% static 'servers/css/server-detail.css' %}">
{% endblock %}
{% block content %}
    <div class="content">
        <p class="content-note1">修改资产类型<span class="content-note2"> (标注为*为必填项)</span></p>
        <div style="clear:both"></div>
        <form class="form-table" action="{% url 'servers:type_modify' %}" method="post">
            <input type="hidden" id="type_id" name="type_id" value="{{ server_type.id }}"/>
            <div class="form-list">
                <span>*资产类型</span>
                <input {% if servertype_form.errors.zctype %}class="input-error"{% endif %} type="text" name="zctype" value="{{ server_type.zctype }}" placeholder="不超过20个字符"/>
            </div>
            {% if msg %}
                <div class="error">{{ msg }}</div>
            {% endif %}
            <div style="clear:both"></div>
            <div class="form-list">
                <input class="form-button" type="submit" value="保存"/>
            </div>
            <div class="form-list">
                 <button class="form-button" type="button" onclick="btn_cancel()">取消</button>
            </div>
            {% csrf_token %}
        </form>
    </div>
{% endblock %}
{% block custome_js %}
    <script>
        function btn_cancel() {
            location.href = "{% url 'servers:type_list' %}";
        }
    </script>
{% endblock %}